{%extends 'base.html'%}
{%block body_block%}

<div class="card text-center mt-2">
    <div class="card-header">
        Product Details
    </div>
    <div class="card-body">
        <h5 class="card-title">{{order.product.brand}}</h5>
        <p class="card-text">{{order.product.price}}</p>

    </div>
    <div class="card-footer text-body-secondary">
        #
    </div>
</div>

<div class="card text-center mt-2">
    <div class="card-header">
        User Details
    </div>
    <div class="card-body">
        <h5 class="card-title">{{order.user.username}}</h5>
        <p class="card-text">{{order.user.email}}</p>
        <p class="card-text">{{order.user.address}}</p>

    </div>
    <div class="card-footer text-body-secondary">
        #
    </div>
</div>
{%endblock%}